/* OneWayScrollBar Styles */

/* Track (background managed by inline style) */
.slider {
  -webkit-appearance: none;
  appearance: none;
}

/* Slider Thumb (Chrome and Webkit-based browsers) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: var(--color-5);
  border-radius: 50%;
  cursor: pointer;
  border: 1px 1px var(--color-5);

}

/* Slider Thumb (Firefox) */
.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: var(--color-5);
  border-radius: 50%;
  cursor: pointer;
  border: 1px 1px var(--color-5);
}

/* Remove outline on focus */
.slider:focus {
  outline: none;
}
